.content{
    background: #fff;
    padding: 50px;
    font-size: 19px;
    line-height: 1.5;
    min-height: 3000px;
   

}

body{
    background: #EFEFEF;
    padding: 30px;
}

.scroll-line {
    position: fixed;
    top : 0;
    left: 0;
    height: 5px;
    background: #1CE;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)width;
}